@charset "utf-8";


div#wrapper form{
	margin:0 0 6px 6px;
}

div#wrapper form table{
	width: 80%;
	margin: 20px auto 30px auto;
}

div#wrapper form table th{
	text-align:left;	
}

div#wrapper form dl{
	padding:15px 20px 5px;
}
div#wrapperform dl dt{
	width:190px;
}
div#wrapper form dl dt span.note{
	font-size:90%;
}
div#wrapper form dl dd{
	margin:-3.0em 0pt 10px 260px;
}

div#wrapper span.req{
	font-size: 1em;
	color:red;
}

div#wrapper form p#btnSubmit{
	text-align:center;
}

div#wrapper span.error{
	color:#F2481C;
	padding-left:16px;
}