@charset "utf-8";

.logout_url {
    float:right;
    margin-top: -1em;
}

div#create_bot span.note{
    font-size: 90%;
    margin-left: 4em;
    color: #888;
}


div#create_bot div.submit{
    text-align:center;
    margin-top: 0.5em;
}

div#create_bot img#loading_img{
    display:none;
}

.bots {
    margin-bottom: 2em;
    border-collapse:collapse;
}

.bots td, .bots th{
    border: 1px solid #888
}

.disabled {
    color: #AAA;
}

dt {
    margin-top: 1em;
}
