<html>
<head>
<title>
{% block title %}

{% endblock %}
RSS Twitter Bot Creator
</title>

<link rel="stylesheet" href="/css/main.css"
      type="text/css" media="all" />
<link rel="stylesheet" href="/css/form.css"
      type="text/css" media="all" />
</head>
<body>
<div id="wrapper">
<div id="header">
<h1>Twitter RSS Bot Creator</h1>
<p>Create your own bot on twitter</p>
<!-- end of header -->
</div>


{% block contents %}

{% endblock %}

<div id="footer">
  Copyright &copy; @suztomo
</div>

<!-- end of wrapper -->
</div>

</body>
</html>
