<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title>
{% block title %}

{% endblock %}
RSS Twitter Bot Creator
</title>

<link rel="stylesheet" href="/css/main.css"
      type="text/css" media="all" />
<link rel="stylesheet" href="/css/form.css"
      type="text/css" media="all" />
</head>
<script type="text/javascript"
        src="/js/jquery.js"></script>
<script type="text/javascript"
        src="/js/create_bot.js"></script>
<script type="text/javascript"
        src="/js/update_bot.js"></script>

<link rel="shortcut icon" href="http://d.hatena.ne.jp/images/diary/s/suztomo/favicon.ico" />

</head>

<body>
<div id="wrapper">
<div id="header">
<a href="/">
  <h1>Twitter RSS Bot Creator</h1>
</a>


{% if logout_url %}
<p class="logout_url"><a href="{{ logout_url }}">Sign out</a></p>
{% endif %}

<p>Create your own bot on twitter</p>
<!-- end of header -->
</div>


{% block contents %}

{% endblock %}

<div id="footer">
  Copyright &copy; @suztomo
</div>

<!-- end of wrapper -->
</div>

</body>
</html>
