{% extends "_base.html"}
{% block title %}
Your bots - 
{% endblock %}

{% block contents %}


<h1>Your bots</h1>
<h2>{{ bot.name }}</h2>
  <p>Status : {{ bot.status }}</p>

<div id="update_bot">
<form action="" method="post">
  <input type="hidden" name="key" id="bot_key" value="{{ bot.key }}" />
  <fieldset>
  <div class="error" id="bot_error_message">
    <ul>
    </ul>
  </div>

  <dl>
    <dt><label for="bot_name">Username of the bot</label></dt>
    <dd><input type="text" id="bot_name" size="20" name="name"
               value="{{ bot.name }}" /><br />
      <span class="note">
        http://twitter.com/<span style="color:red">username</span>
      </span>
    </dd>
    <dt><label for="bot_password">password</label></dt>
    <dd><input type="password" id="bot_password" size="20" name="password"
               value="{{ bot.password }}" /></dd>
    <dt><label for="bot_feed">Feed URL</label></dt>
    <dd><input type="text" id="bot_feed" size="20" name="feed"
               value="{{ bot.feed }}" /></dd>

    <dt><label for="bot_message">Message</label></dt>
    <dd><input type="text" id="bot_message" size="20" name="message"
               value='{{ bot.message }}' /></dd>

    <dt><label for="bot_exkeywords">Exclusive keywords</label></dt>
    <dd><input type="text" id="bot_exkeywords" size="20" name="exkeywords"
               value="{{ bot.exkeywords }}" /></dd>

    <dt><label for="bot_interval">Interval (minutes) <span class="note">not implemented</span></label></dt>
    <dd><input type="text" id="bot_interval" size="3" name="interval"
               {% if bot.interval %} value="{{ bot.interval }}"{% endif %} /></dd>

    <dt><label for="bot_desc">Description</label></dt>
    <dd><textarea type="text" name="bot_desc" id="bot_desc" rows="3" cols="20" >{% if bot.desc %}{{ bot.desc }}{% endif %}</textarea>
    </dd>

    <dt><label for="bot_enable">Enable or not</label></dt>
    <dd><input type="checkbox" id="bot_enable" name="enable"
               value="1" 
               {% if bot.enable %}checked="checked"{% endif %} />
</dd>


  </dl>
  <br />
  <div class="submit">
    <input type="submit" value="Update Bot" id="edit_button" />
    <img src="/img/ajax-loader.gif" id="loading_img" style="display:none" />
  </div>
  </fieldset>
</form>

  <ul>
    <li>updated : {{ bot.updated }}</p>
    <li>created : {{ bot.created }}</p>
  </ul>

</div>
{% endblock %}



