{% extends "_base.html"}

{% block title %}
Edit a bot
{% endblock %}

{% block contents %}

Hello, World


<div id="create_bot">
{% if username %}
ようこそ {{ username }}({{ useremail }})！
<form action="/sign" method="post">
  <table>
    <th>
      Username of the bot<br />
      <p>http://twitter.com/<span style="color:red">username</span></p>
    </th>
    <td>
      <input type="text" size="20" name="name" />
    </td>
    <th>
      password<br />
    </th>
    <td>
      <input type="password" size="20" name="password" />
    </td>

    <th>
      Interval
    </th>
    <td>
      <input type="text" size="1" name="interval" /> minutes
    </td>

    <th>
      Description
    </th>
    <td>
      <textarea name="content" rows="3" cols="60"></textarea>
    </td>
  </table>
  <input type="submit" value="Sign Guestbook">
</form>

{% else %}

<p class="login_link">
<a href="{{ login_url }}">Please login Google</a>
</p>

{% endif %}
</div>


{% endblock %}

