{% extends "_base.html"}
{% block title %}
{% endblock %}

{% block contents %}

<div id="create_bot">
{% if username %}
ようこそ {{ username }}({{ useremail }})！

<form action="" method="post">
  <fieldset>
  <div class="error" id="bot_error_message">
    <ul>

    </ul>
  </div>

  <dt>
    <dt><label for="bot_name">Username of the bot</label></dt>
    <dd><input type="text" id="bot_name" size="20" name="name" /><br />
      <span class="note">
        http://twitter.com/<span style="color:red">username</span>
      </span>
    </dd>
    <dt><label for="bot_password">password</label></dt>
    <dd><input type="password" id="bot_password" size="20" name="password" /></dd>
    <dt><label for="bot_feed">Feed URL</label></dt>
    <dd><input type="text" id="bot_feed" size="20" name="feed" /></dd>
  </dt>
  <br />
  <div class="submit">
    <input type="submit" value="Create Bot" id="submit_button">
  </div>
  </fieldset>
</form>

{% else %}

<p class="login_link">
<a href="{{ login_url }}">Please login Google</a>
</p>

{% endif %}

<!-- end of create_bot -->
</div>

<div id="contents">

<h2>About this site</h2>
<p>You can your check updates of yoru favorite feeds through Twitter.</p>


<!-- end of contents -->
</div>

{% endblock %}

